@charset "utf-8";
*{ margin: 0;
    border: 0;
    font-family: "Microsoft Yahei",Arial,Georgia,"Hiragino Sans GB","Lucida Grande",serif,sans-serif;
    vertical-align: baseline;
    background: 0 0;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    font-size: 14px;
}
.container {
    padding: 0px;
}
.content {
    margin: 15px 0;
    text-align: left;
    color: #525252;
}
.content p {
    margin-right: 10px;
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 1px;
}