@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin: 0;
	list-style: none;
	outline: none;
	font-family: '微软雅黑';
}
div.operate_box {
	background: #fff;
}
.maindiv {
	width:100%;
	height: 100%;
}
.table_head {
	width:100%;
	overflow: hidden;
	background-color:#ebebeb; 
}
.table_body {
	width:100%;
	overflow-x: auto;
	overflow-y: scroll;
}
.bottom-div {
	height: 35px;
	line-height: 35px;
	letter-spacing: 1px;
	padding-left: 20px;
	border-top: solid 1px #ccc;
}
.maintable {
	table-layout: fixed;
	text-align: center;
	font-size: 12px;
	width:100%;
	background-color: #fff;
}
.headtable {
	border-top: 1px solid #ccc;
}
.maintalbe thead tr{
	height:40px;
}
.maintable thead tr td {
	font-weight: bold;
	background-color: #f5f5f5;
	word-wrap:break-word;
	word-break:break-all;
}
.maintable thead tr td.head{
	padding: 5px;
}
.maintalbe tbody tr{
	height:35px;
}
.maintable tbody tr td {
	height: 35px;
	padding: 5px;
	word-wrap:break-word;
	word-break:break-all;
}
.maintable tbody tr td p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.maintable tbody tr:HOVER {
	/* background-color: #ebebeb; */
}
.td_w100{
	width:100px;
	min-width:100px;
	text-align: left;
}
.td_w120{
	width:120px;
	min-width:120px;
	text-align: left;
}
.td_w30 {
	width:30px;
	min-width:30px;
}
.td_scroll {
	width:18px;
	min-width:18px;
	border: none !important;
}
.maintable thead tr td,.maintable tbody tr td{
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.td_focus {
	background-color: #e3e3e4 !important;
}
.td_focus td {
	border-right: 1px solid #eee !important;
}
.search_button {
	float:left;
	width: 24px;
	height: 24px;
	background: url("../../images/find.png") no-repeat;
	background-size: 24px 24px;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 15px;
	cursor: pointer;
}
.search_button:HOVER {
	background: url("../../images/find_hover.png") no-repeat;
	background-size: 24px 24px;
}
.searchcon_div {
	padding: 20px 10px;
}
.searchUl {
	margin-left: 50px;
	margin-top: 6px;
}
.searchUl .stitle {
	width: 110px;
	font-weight: normal;
	font-size: 13px;
	text-align: right;
}
.clear-a-selection {
	display: none;
  	cursor: pointer;
  	font-size: 13px;
}
.my-jqx-window {
	  display: none;
	  overflow: inherit;
}
.my-jqx-window .my-window-content {
	overflow: inherit;
}
.checkradiospan {
	display:none;
	height: 25px;
	line-height: 25px;
	margin-left: 74px;
}
.sortlabel {
	font-weight: normal;
	font-size: 13px;
	width: 85px;
}
.checkradiospan label {
	width: 85px;
	font-weight: normal;
	font-size: 13px;
}
.export_button {
	float:left;
	width: 24px;
	height: 24px;
	background: url("../../images/export.png") no-repeat;
	background-size: 24px 24px;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}
.export_button:HOVER {
	background: url("../../images/export_hover.png") no-repeat;
  	background-size: 24px 24px;
}
.dropdown_button {
	float:left;
	width: 24px;
	height: 24px;
	background: url("../../images/dropdown.png") no-repeat;
	background-size: 24px 24px;
	margin-right: 15px;
	margin-top: 4px;
	margin-bottom: 4px;
	cursor: pointer;
}
.dropdown_button:HOVER {
	background: url("../../images/dropdown_hover.png") no-repeat;
  	background-size: 24px 24px;
}
.togglecolumnul {
	display: none;
	text-align: left;
    max-height: 300px;
    overflow: auto;
    left: auto;
    top:25px;
    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 13px;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.togglecolumnul li {
	height: 30px;
}
.togglecolumnul label {
	display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
}
.text-align-center {
	text-align: center;
}
div.table_head table td input[type=button].sort {
    width: 18px;
    height: 18px;
    background: url(../../images/iconfont-paixu.png) no-repeat;
    background-size: 17px;
    margin-left: 5px;
    vertical-align: sub;
}
div.table_head table td input[type=button].select-sort {
    background: url(../../images/iconfont-paixu1.png) no-repeat;
    background-size: 17px;
}
.search-text {
	height: 30px;
	line-height: 30px;
	width: 104px;
}
.operUl {
	margin-top: 20px;
	text-align: center;
}
.searchUl input[type=checkbox] {
	vertical-align: sub;
}
.searchUl label {
	font-weight: normal;
}
/*右侧滑出框*/
.right-popup-win {
    display: none;
    position: absolute;
    width: 75%;
    height: calc(100% - 1px);
    right: -75%;
    top: 0px;
    border: 1px solid #ccc;
    z-index: 500;
    background: #f2f2f2;
    box-shadow: 0 0 1em #cec9c9;
}
.right-popup-body {
    width: 100%;
    height: 100%;
}
.header-btn-list {
    width: 100%;
    height: 40px;
    text-align: center;
    background: #e1ebfa;
}
.oper-button {
	border: 0px;
    outline: none;
    width: 100px;
    height: 25px;
    letter-spacing: 5px;
    color: #fff;
    background: rgba(255,102,0,1);
    border-radius: 5px;
    margin-top: 7px;
    font-size: 14px;
    font-family: '微软雅黑';
    cursor: pointer;
}
.oper-button:hover {
  background: rgba(230,93,1,1);
}
.main-content {
	height: calc(100% - 41px);
	padding: 0 10px;
	box-sizing: border-box;
}
.export-button {
	float:left;
	width: 24px;
	height: 24px;
	background: url("../../images/export.png") no-repeat;
	background-size: 24px 24px;
	margin-left: 20px;
	margin-top: 7px;
	margin-bottom: 4px;
	cursor: pointer;
}
.export-button:HOVER {
	background: url("../../images/export_hover.png") no-repeat;
  	background-size: 24px 24px;
}
.scence-table thead tr{
	height: 30px;
}
.viewList-div {
	height: 100%;
}
.cc {
	height: calc(100% - 30px);
}
.cc table td p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
td.click {
	cursor: pointer;
}